.InfiniteCarouselSlide.img{
position: relative;
float: left;
display: inline-block;
width: 41.202px;
height: auto;
margin: 0px 10px;
opacity: 1;
} 
.background-light{
  background-color: #272c48;
}           
.bg_colors{
  background-color: #272c48;
}

 .height{
  height: 490px;
}

