.career-counselling {
  .card-header {
    background: #ff6f00b3;
    color: white;
    h3 {
      margin-bottom: 0;
    }
  }
  .country-code-required {
    width: 77px;
  }
  .mobile-input {
    flex:1
  }
}