.text-color{
  color: #272c48;
}
.text_color{
color: #ff6f00;
}
.text-heading{
  color: #ff6f00;
}
.image_include {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 37%;
  left: 60%;
  transform: translate(-50%, -50%);
}
