.req-batch-container {
    .req-batch-sec {
        min-height: 150px;
    }
    
}
.request-batch {
    .modal-content {
        background: white !important;
    }
    .modal-header {
        border-bottom: 1px solid #dee2e6 !important;
    }
}


