// <!--- Refactoring UI suggested colors for text --->
  .primary-text {
    color: hsl(202, 57%, 15%)
  }
  .secondary-text {
      color: hsl(201, 10%, 34%)
  }
  .tertiary-text {
      color: hsl(203, 15%,47%)
  }
